1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [5]:
#PROBLEMA 1
for i in range(1,101):

    if(i%5 == 0 and i%3 == 0):print("MickeyMouse")

    elif(i%3 == 0): print("Mickey")

    elif(i%5 == 0):print("Mouse")

    else: print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [7]:
l=[]

for i in range(1,101):

    if(i%5 == 0 and i%3 == 0):l.append("DonaldDuck")

    elif(i%3 == 0): l.append("Donald")

    elif(i%5 == 0):l.append("Duck")

    else: l.append(i)

tp = tuple(l)
print(type(tp))

<class 'tuple'>

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [17]:
#PROBLEMA 2

x=0
y=1

def f(x,y):
    return y,x


def f_global():
    global x #così mi riferisco alla x fuori dallo scope della funzione
    global y

    #swappo i valori x->y e y->x
    a = x
    b = y
    x = b
    y = a

print(f(x,y))

f_global()
print(x,y)

(1, 0)
1 0

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [1]:
#PROBLEMA 3
import numpy as np

def d(u,v): 
    d = np.sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2)
    return d
    
print(d((3,0),(0,4)))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [8]:
#PROBLEMA 4

def f(s):
    
    a = {}
    
    #inizializzo il dizionario che conterrà i conteggi delle lettere 
    for j in range(65,91):
            a[chr(j)+","+chr(j+32)] = 0 
            
            #chr restituisce la lettera ASCII associata ad un certo 
            #numero decimale. Tra uppercase e lowercase c'è uno 
            #sfasamento di 32 (vedi tabella:
            #https://python-reference.readthedocs.io/en/latest/docs/str/ASCII.html) 

            
    for i in s:#ciclo sui singoli caratteri della stringa
        char = i.upper() #scelta arbitraria            
        a[char + "," + char.lower()] = a.get((char + "," + char.lower()))+1 #get ti ritorna il valore associato a quella key
    
    for n in a: #ciclo sulle keys del dizionario per capire quali lettere sono state trovate
        if a[n] != 0:
            print("(", n, ")", a[n])
    
f("AAAAaaaazZZioPAAAAZZP")

( A,a ) 12
( I,i ) 1
( O,o ) 1
( P,p ) 2
( Z,z ) 5

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [19]:
def count_unique_numbers(integer_list):
    # Use a set to store unique numbers
    unique_numbers = set()

    # Iterate through the list and add each number to the set
    for num in integer_list:
        print(num)
        unique_numbers.add(num)

    # Return the count of unique numbers
    return len(unique_numbers)

# Example usage:
random_integer_list = [1, 2, 3, 4, 5, 2, 3, 6, 7, 8, 1]
unique_count = count_unique_numbers(random_integer_list)

print(f"The count of unique numbers is: {unique_count}")

The count of unique numbers is: 8

In [18]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

l.sort()
print(l)

[1, 3, 3, 5, 8, 9, 10, 16, 18, 19, 20, 20, 20, 24, 30, 31, 31, 33, 34, 34, 36, 36, 36, 37, 39, 41, 42, 42, 45, 45, 45, 47, 50, 50, 51, 51, 51, 53, 54, 55, 56, 56, 57, 58, 63, 63, 64, 66, 66, 70, 70, 70, 72, 74, 75, 79, 81, 82, 84, 84, 84, 84, 85, 85, 85, 86, 87, 88, 89, 89, 90, 91, 91, 91, 92, 94, 95, 96, 98, 99]

In [15]:
def uniques(l):

    a={}
    
    #inizializzo il dizionario che conterrà i conteggi dei numeri presenti nella lista
    for j in l:
            a[j] = 0 
            #!!! ci saranno multiple inizializzazioni a zero per quei numeri
            #che si ripetono all'interno della lista->il numero di keys sarà 
            #diverso dal numero di elementi nella lista
                      
    for i in l:#ciclo sui singoli caratteri della lista
   
        for j in a.keys():
            
            if i == j:
                a[j] += 1
    
    u = []
    for n in a: #ciclo sulle keys del dizionario per capire quali lettere sono state trovate
        if a[n] == 1: u.append(n)

    return u
    
print(uniques(l))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [13]:
def pippo(x): return x**2

def cube(x): return x**3

def sixth(x):
    return cube(pippo(x))

sixth(3)

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [22]:
l1 = []

for i in range(11): l1.append(i**3)

l2 = [j**3 for j in range(11)]

print(l1)
print(l2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [11]:
Pythagorean_triples = [[a,b,c] for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2+b**2-c**2==0]
print(Pythagorean_triples)

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [63, 16, 65], [63, 60, 87], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [84, 13, 85], [84, 35, 91]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [30]:
def tuple_normalization(tp):
    l=list(tp)
    
    l = [i/max(l) for i in list(tp)]
    return tuple(l)

tp = tuple_normalization((17,2,3))
print(type(tp),tp)

<class 'tuple'> (1.0, 0.11764705882352941, 0.17647058823529413)